# Folders to ignore
baselines/
cotr_df/
legacy/
llm/
new/
output/
plots/
post_result/
processed/
processed_old/
saved_models/
saved_models_new/
temp/

# LIAR dataset folders
Data/LIAR/
src/LIAR/

# Trained models
src/trained_models/

# Files to ignore
s3git.py
temp.ipynb

# Python environment
.env
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
*.log